h1{
   font-family: 'WaltographRegular';
   font-weight: normal;
   font-style: normal;
   text-align: center;
}
table{
  margin: auto;
}
td{
  height: 400px;
  width: 200px;
  border: 4px solid white;
}
#one{
  background-color: #247BA0;
}
#two{
  background-color: #70C1B3;
}
#three{
  background-color: #BBE8C9;
}
#four{
  background-color: #F3FFBD;
}
#five{
  background-color: #FF1654;
}
